<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="Smart-Factory-Starter-Pack.ZPM">
<Module>
 <Name>Smart-Factory-Starter-Pack</Name>
  <Version>1.0.0</Version>
  <Description>The Starter Pack is used within a project in a manufacturing plant to give operators realtime insight in OEE.</Description>
  <Keywords>Starter Pack</Keywords>
  <Packaging>module</Packaging>
   <SourcesRoot>classes</SourcesRoot>
  <Resource Name="Jde.PKG" Directory="cls"/>
  <Resource Name="opc.PKG" Directory="cls"/>
  <Resource Name="powerbi.PKG" Directory="cls"/>
  <CSPApplication
            Url="/api/v1/datamodel"
            CookiePath="/api/v1/datamodel/"
            UnauthenticatedEnabled="1"
            MatchRoles=":${dbrole}SECONDARY"
            DispatchClass="opc.ua.rest.datamodel.disp"/>
  <CSPApplication
            Url="/api/v1/equipment"
            CookiePath="/api/v1/equipment/"
            UnauthenticatedEnabled="1"
            MatchRoles=":${dbrole}SECONDARY"
            DispatchClass="opc.ua.rest.equipment.disp"/>
  <CSPApplication
            Url="/api/v1/masterdata"
            CookiePath="/api/v1/masterdata/"
            UnauthenticatedEnabled="1"
            MatchRoles=":${dbrole}SECONDARY"
            DispatchClass="opc.ua.rest.masterdata.disp"/>
</Module>
</Document>
</Export>
